@page "/project/{Id}"
@attribute [Authorize]
@inject Service.IUserDataService userService
@inject Service.IProjectDataService projectService
@using TIPP.Shared
@using Blazorise.DataGrid
@if (loading == false)
{
    if (project != null)
    {
        <h1>@project.Name</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <h5>Behaalde Steps van Collegas</h5>
                    <p><i>Moedig je collega's aan voor hun gemaakte stappen!</i></p>
                    <ColleagueMilestones></ColleagueMilestones>
                </div>
                <div class="col-md-6">
                    <h5>De ISI Loop</h5>
                    <p><i>ISI punten behaald door je collega's en jezelf.</i></p>
                    <PerformanceGraph></PerformanceGraph>
                    <h5>Duimpjes</h5>
                    <p><i>Je collega's moedigen je aan, ga zo door!</i></p>
                    <ThumbsUpContainer></ThumbsUpContainer>
                </div>
                <div class="col-md-3">
                    <h5>ISI Steps</h5>
                    @*<p><i>Hier staan de milestone die je bijna hebt gehaald. Nog even doorgaan!</i></p>*@
                    <MilestoneTracker></MilestoneTracker>
                </div>
            </div>

        </div>
    }

}
else
{
    <div class="text-center p-3">
        <span class="spinner-border spinner-border-lg align-center"></span>
    </div>
}



@code
{
    [Parameter]
    public string Id { get; set; }
    private bool loading;

    private ProjectDTO projectDTO;
    private Project project;

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        projectDTO = new ProjectDTO(Int32.Parse(Id));
        project = await projectService.GetProject(projectDTO);
        projectDTO.Name = project.Name;

        Console.WriteLine($"Number of activities: {project.Activities.Count()}");
        projectService.Project = project;

        loading = false;
    }
}