@*@page "/"

    <Dashboard></Dashboard>*@

@page "/"
@attribute [Authorize]
@inject Service.IUserDataService AccountService


<div class="p-4">
    <div class="container">
        <h1>Actual index</h1>
        <h1>Hi @AccountService.User.Username!</h1>
        <p>You're logged in with Blazor WebAssembly!!</p>
        <p><NavLink href="users">Manage</NavLink></p>
    </div>
</div>

@*@switch (userDataService.User.Role)
{
    case Role.User:
        <Dashboard></Dashboard>
        break;
    case Role.Admin:
        <AdminDashboard></AdminDashboard>
        break;
    default:
        break;
}*@
