@page "/"
@attribute [Authorize]
@inject Service.IUserDataService UserService

@inject NavigationManager NavigationManager
<div class="p-4">
    <div class="container">
        <h1>Welkom @UserService.User.Username!</h1>

        @*<p><NavLink href="users">Manage Users</NavLink></p>*@

        @switch (UserService.User.Role)
        {
            case TIPP.Shared.Role.User:
                <p><NavLink href="/user/{UserService.User.Id}">Ga naar jouw projecten</NavLink></p>
                break;
            case TIPP.Shared.Role.Admin:
                <p><NavLink href="/admin/{UserService.User.Id}">Ga naar de projecten</NavLink></p>
                break;
            default:
                break;
        }
    </div>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        if (UserService.User != null)
        {
            NavigationManager.NavigateTo("/user/{user.Id}");
        }
    }
}
@*<Dashboard></Dashboard>*@