@page "/admin/{Id}"
@attribute [Authorize]
@inject Service.IUserDataService userService
@inject Service.IProjectDataService projectService 
@using TIPP.Shared
@using Blazorise.DataGrid
<h1>Users</h1>
<NavLink href="users/add" class="btn btn-sm btn-success mb-2">Add User</NavLink>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">First Name</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        @if (users != null)
        {
            foreach (var user in users)
            {
                <tr>
                    <td>@user.Username</td>
                    <td style="white-space: nowrap">
                        <NavLink href="@($"users/edit/{user.Id}")" class="btn btn-sm btn-primary mr-1">Edit</NavLink>
                        @*<button @onclick="@(() => DeleteUser(user.Id))" disabled="@user.IsDeleting" class="btn btn-sm btn-danger btn-delete-user">
                            @if (user.IsDeleting)
                            {
                                <span class="spinner-border spinner-border-sm"></span>
                            }
                            else
                            {
                                <span>Delete</span>
                            }
                        </button>*@
                    </td>
                </tr>
            }
        }
        @if (loading)
        {
            <tr>
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        }
    </tbody>
</table>



@code {
    [Parameter]
    public string Id { get; set; }

    List<User> users;
    User userSelected;
    int totalUsers;
    private bool loading;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        UserDTO dto = new UserDTO(userService.User.Id);
        Console.WriteLine(await projectService.GetAllProjectsByUserId(dto));
        //users = await userService.GetAllUsersByProjectId()
        loading = false;
    }

    //private async void DeleteUser(int id)
    //{
    //    var user = users.First(x => x.Id == id);
    //    user.IsDeleting = true;
    //    await AccountService.Delete(id);
    //    users.Remove(user);
    //    StateHasChanged();
    //}


}
