@inherits LayoutComponentBase

@inject Service.IUserDataService userDataService
@inject NavigationManager 

<div class="page">
    <!--<div class="sidebar">-->
    @*<NavMenu />*@
    <!--</div>-->

    <div class="main">
        <div class="top-row px-4">
            <NavMenu></NavMenu>
            @if (userDataService.User!=null)
            {
                <a class="ml-md-auto">@userDataService.User.Username</a>
                <NavLink href="user/logout" class="nav-item nav-link">Logout</NavLink>
            }
        </div>

        <div class="content px-4 @(userDataService.User!=null ? "bg-light" : "")">
            @Body
        </div>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        // redirect to home if already logged in
        if (userDataService.User != null)
        {

            NavigationManager.NavigateTo("");
        }
    }
}