@inherits LayoutComponentBase

@inject Service.IUserDataService userDataService
@inject NavigationManager navigationManager

<div class="page">
    <!--<div class="sidebar">-->
    @*<NavMenu />*@
    <!--</div>-->

    <div class="main">
        <div class="top-row px-4">
            <NavMenu></NavMenu>
            <a class="ml-md-auto">NAME</a>
        </div>

        <div class="content px-4 @(LoggedIn() ? "bg-light" : "")">
            @Body
        </div>
    </div>
</div>

@code {
    public bool LoggedIn
    {
        get { return userDataService.User != null; }
    }
}