@inherits LayoutComponentBase

@inject Service.IUserDataService userDataService
@inject NavigationManager navigationManager

<div class="page">
    <!--<div class="sidebar">-->
    @*<NavMenu />*@
    <!--</div>-->

    @if (LoggedIn)
    {
        <div class="main">
            <div class="top-row px-4">
                <NavMenu></NavMenu>
                @if (userDataService.User != null)
                {
                    <a class="ml-md-auto">@userDataService.User.Username</a>
                    <NavLink href="user/logout" class="nav-item nav-link">Logout</NavLink>
                }
            </div>
        </div>
    }

    <div class="app-container @(LoggedIn ? "bg-light" : "")">
        <Alert />
        @Body
    </div>



</div>

@code {
    public bool LoggedIn
    {
        get { return userDataService.User != null; }
    }
}