 @inject NavigationManager NavigationManager
@attribute [Authorize]
@inject Service.IUserDataService userService
@inject Service.IProjectDataService projectDataService
@inject Service.IMilestoneProgressionService milestoneProgressionService
@inject Service.IActivityDataService activityDataService

<div class="container">
    <div class="row">
        <div class="col">
            <LineChart @ref="lineChart" TItem="double" OptionsObject="new { animation = new { duration = 0 }, hover = new { animationDuration = 0 }, responsiveAnimationDuration = 0 }" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-right" @onclick="ShowModal">Werk aan ISI Steps</button>
        </div>

    </div>
</div>


@if (loading == false)
{
    <Modal @ref="modalRef">
        <ModalContent Centered="true">
            <ModalHeader>
                <ModalTitle>Kies een activiteit</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                @if (activities != null)
                {
                    @foreach (var activity in activities)
                    {
                        <Field>
                            <Button Color="Color.Primary" @onclick="() => SetActivity(activity)">@activity.Name</Button>
                        </Field>
                    }
                }



            </ModalBody>
            <ModalFooter>
            </ModalFooter>
        </ModalContent>
    </Modal>

    <Modal @ref="modalFill">
        <ModalContent Centered="true">
            <ModalHeader>
                <ModalTitle>Gewerkte tijd aan de ISI Step?</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <TextEdit Placeholder="Gewerkte tijd in uren" type="number" TextChanged="@OnNameChanged"/>
                    <TextEdit Placeholder="Week?" type="number" TextChanged="@OnWeekChanged"/>
                    <Button Color="Color.Primary" Clicked="SendData">Ok</Button>
                </Field>


            </ModalBody>
            <ModalFooter>
                @*<Button class="close" Color="Color.Secondary" Clicked="@HideModal" aria-label="Close"></Button>*@
            </ModalFooter>
        </ModalContent>
    </Modal>

}
else
{
    <div class="text-center p-3">
        <span class="spinner-border spinner-border-lg align-center"></span>
    </div>
}

@code {

    private bool loading;
    // reference to the modal component
    private Modal modalRef;

    private Modal modalFill;

    private void ShowModal()
    {
        modalRef.Show();
    }

    private void HideModal()
    {
        modalRef.Hide();
    }

    private void ShowFillableModal()
    {
        modalRef.Hide();
        modalFill.Show();

    }

    private void HideFillableModal()
    {
        modalFill.Hide();
    }

    //https://blazorise.com/docs/extensions/chart/
    LineChart<double> lineChart;


    private IList<TIPP.Shared.Activity> activities;
    private TIPP.Shared.Activity chosenActivity;
    private IList<MilestoneProgression> progressions;
    private IList<ColleagueProgressionsDTO> colleagueProgressions;
    private decimal workAmount;
    private int weekNumber;

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        int projectid = projectDataService.Project.Id;
        activities = await activityDataService.GetActivitiesByProjectId(new ActivityDTO(projectid));

        await GetMilestoneProgression();
        await GetColleagueMilestoneProgression();
        await HandleRedraw();


        loading = false;

    }

    private async Task GetMilestoneProgression()
    {
        UserDTO dto = new UserDTO();
        dto.Id = userService.User.Id;
        dto.ProjectID = projectDataService.Project.Id;
        progressions = await milestoneProgressionService.GetProgressionWithUser(dto);
    }

    private async Task GetColleagueMilestoneProgression()
    {
        UserDTO dto = new UserDTO();
        dto.Id = userService.User.Id;
        dto.ProjectID = projectDataService.Project.Id;
        colleagueProgressions = await milestoneProgressionService.GetColleagueProgressionWithUser(dto);
    }

    void SetActivity(TIPP.Shared.Activity activity)
    {
        Console.WriteLine("Setting Activity");
        chosenActivity = activity;
        ShowFillableModal();
        HideModal();
        Console.WriteLine(activity);
    }

    void OnNameChanged(string value)
    {
        workAmount = Convert.ToDecimal(value);
        Console.WriteLine(workAmount);
    }

    void OnWeekChanged(string value)
    {
        weekNumber = Convert.ToInt32(value);

    }

    private async void SendData()
    {
        HideFillableModal();
        int userid = userService.User.Id;
        MilestoneProgressionDTO dto = new MilestoneProgressionDTO();
        dto.Week = weekNumber;
        dto.Value = workAmount;
        Console.WriteLine(chosenActivity.Name);

        await milestoneProgressionService.UpdateMilestoneProgression(dto, userid, chosenActivity.Id);

        int projectid = projectDataService.Project.Id;
        activities = await activityDataService.GetActivitiesByProjectId(new ActivityDTO(projectid));
        await GetMilestoneProgression();
        await HandleRedraw();
        StateHasChanged();
    }



    public class User
    {
        public string Name { get; }
        public List<double> LineData { get; set; }

        public User(string name, List<double> lineData)
        {
            this.Name = name;
            this.LineData = lineData;
        }
    }

    public class Colleauge
    {
        public ColleagueMilestones.ColleagueCard Card { get; }
        public List<double> LineData { get; set; }

        public Colleauge(ColleagueMilestones.ColleagueCard card, List<double> lineData)
        {
            this.Card = card;
            this.LineData = lineData;
        }
    }

    User user = new User("John Doe", null);
    List<Colleauge> colleagues = new List<Colleauge>();

    public void SetUserData()
    {

        // Each Linedata value corresponds to a week
        List<double> linedata = new List<double>();
        linedata.Add(0); //Start the list
        foreach (var progression in progressions)
        {
            if (linedata.Count() < progression.Week)
            {
                linedata.Add(0);
            }
            linedata[progression.Week - 1] += Convert.ToDouble(progression.Value);
        }


        for (int i = 0; i < linedata.Count(); i++)
        {
            Baseline baseline = null;
            foreach (var progression in progressions)
            {
                if (progression.Week == i+1) //+1 because the weeks starts at 1 not 0
                {
                    baseline = progression.Baseline;
                    break;
                }
            }

            linedata[i] = CalculateLinedataPercentage(linedata[i], baseline);

        }

        user.LineData = linedata;

    }

    private void SetColleagueData()
    {
        foreach (var colleaugeProgressionDTO in colleagueProgressions)
        {
            List<double> linedata = new List<double>();
            linedata.Add(0); //Start the list
            foreach (var progression in colleaugeProgressionDTO.Progressions)
            {
                if (linedata.Count() < progression.Week)
                {
                    linedata.Add(0);
                }
                linedata[progression.Week - 1] += Convert.ToDouble(progression.Value);

            }

            for (int i = 0; i < linedata.Count(); i++)
            {
                Baseline baseline = null;
                foreach (var progression in colleaugeProgressionDTO.Progressions)
                {
                    if (progression.Week == i + 1) //+1 because the weeks starts at 1 not 0
                    {
                        baseline = progression.Baseline;
                        break;
                    }
                }

                linedata[i] = CalculateLinedataPercentage(linedata[i], baseline);

            }
            Colleauge colleauge = new Colleauge(new ColleagueMilestones.ColleagueCard(colleaugeProgressionDTO.Colleague.Username), linedata);
            colleagues.Add(colleauge);
        }
    }

    private double CalculateLinedataPercentage(double linedata, Baseline baseline)
    {
        return (100 * linedata) / baseline.BaselineValue;
    }

    async Task HandleRedraw()
    {
        await lineChart.Clear();

        SetUserData();
        SetColleagueData();


        await lineChart.AddLabels(Labels);

        await lineChart.AddDataSet(GetLineChartDataset("zero", new List<double> { 0 }, false));
        await lineChart.AddDataSet(GetLineChartDataset("zero", new List<double> { 120 }, false));
        await lineChart.AddDataSet(GetLineChartDataset(user.Name, user.LineData, false));

        foreach (var colleague in colleagues)
        {
            await lineChart.AddDataSet(GetLineChartDataset(colleague.Card.Name, colleague.LineData, true));
        }

    }

    LineChartDataset<double> GetLineChartDataset(string name, List<double> lineData, bool colleague)
    {
        if(!colleague)
        {
            if(name == "zero")
            {
                return new LineChartDataset<double>
                {
                    //Label = "Baseline",
                    BackgroundColor = new List<string> { ChartColor.FromRgba(255, 255, 255, 0f) },

                    Data = lineData,
                    BorderColor = new List<string> { ChartColor.FromRgba(0, 204, 0, 0f) }, //Color of the Line
                    Fill = false,
                    ShowLine = false,
                    PointRadius = 0,
                    PointBorderColor = new List<string> { ChartColor.FromRgba(102, 204, 0, 0f) }, //Color of the Line,
                    BorderDash = new List<int> { 5, 2 }
                };
            }
            return new LineChartDataset<double>
            {
                Label = userService.User.Username,
                Data = lineData,
                //BackgroundColor = new List<string> { ChartColor.FromRgba(255, 99, 132, 0.2f) },
                BorderColor = new List<string> { ChartColor.FromRgba(20, 99, 255, 1f) }, //Color of the Line
                Fill = false,
                PointRadius = 5,
                BorderDash = new List<int> { }

            };
        }
        else
        {
            return new LineChartDataset<double>
            {
                Label = name,
                Data = lineData,
                //BackgroundColor = new List<string> { ChartColor.FromRgba(255, 99, 132, 0.2f) },
                BorderColor = new List<string> { ChartColor.FromRgba(76, 0, 153, 0.5f) }, //Color of the Line
                Fill = false,
                PointRadius = 5,
                BorderDash = new List<int> { }

            };
        }
    }



    string[] Labels = { "Week 1", "Week 2", "Week 3", "Week 4", "Week 5", "Week 6", "Week 7", "Week 8", "Week 9", "Week 10", };
    List<string> backgroundColors = new List<string> { ChartColor.FromRgba(255, 99, 132, 0.2f), ChartColor.FromRgba(54, 162, 235, 0.2f), ChartColor.FromRgba(255, 206, 86, 0.2f), ChartColor.FromRgba(75, 192, 192, 0.2f), ChartColor.FromRgba(153, 102, 255, 0.2f), ChartColor.FromRgba(255, 159, 64, 0.2f) };
    List<string> borderColors = new List<string> { ChartColor.FromRgba(255, 99, 132, 1f), ChartColor.FromRgba(54, 162, 235, 1f), ChartColor.FromRgba(255, 206, 86, 1f), ChartColor.FromRgba(75, 192, 192, 1f), ChartColor.FromRgba(153, 102, 255, 1f), ChartColor.FromRgba(255, 159, 64, 1f) };

    Random r = new Random(DateTime.Now.Millisecond);
    List<double> RandomizeData()
    {


        return new List<double> { r.Next(4, 10), r.Next(4, 10), r.Next(4, 10), r.Next(4, 10), r.Next(4, 10), r.Next(4, 10) };
    }
}
